$default-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$input-focus: #ffdd00;
$action-colour: #003078;
$link-colour: #1d70b8;
$error-colour: #d4351c;
